<!DOCTYPE html>

<html>
  <head>
    <meta charset="utf-8" />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="../../../node_modules/highlight.js/styles/default.css">
    <link rel="stylesheet" type="text/css" href="./note.css">
    <link rel="stylesheet" href="../../../external/font-awesome-4.7.0/css/font-awesome.min.css">
  </head>
  <body>

    <div id="window">
      <div id="title">
        <div class="left toolbar">
          <div class="button" id="btn-done"><i class="fa fa-check-circle" aria-hidden="true"></i></div>
        </div>
        <div class="right toolbar">
          <div class="button" id="btn-edit"><i class="fa fa-pencil-square" aria-hidden="true"></i></div>
          <!--<a class="button" href="#"><i class="fa fa-info-circle" aria-hidden="true"></i></a>-->
          <div class="button" id="btn-add"><i class="fa fa-plus-circle" aria-hidden="true"></i></div>
          <div class="button" id="btn-delete"><i class="fa fa-minus-circle" aria-hidden="true"></i></div>
        </div>
      </div>
      <div id="body">

        <div id="note-editor">
          <textarea id="textarea"></textarea>
        </div>

        <div id="note-previewer"></div>
    </div>




    <!-- Script import fix http://stackoverflow.com/questions/32621988/electron-jquery-is-not-defined -->

    <!-- Insert this line above script imports  -->
    <script>if (typeof module === 'object') {window.module = module; module = undefined;}</script>


    <script type="text/x-mathjax-config">
    MathJax.Hub.Config({
      tex2jax: {inlineMath: [['$','$'], ['\\(','\\)']]},
      <!--TeX: { equationNumbers: {autoNumber: "all"} },-->
      messageStyle: "none"
    });
    </script>
    <script type="text/javascript" async
      src="../../../external/MathJax-2.7.0/MathJax.js?config=TeX-AMS_HTML">
    </script>

    <script src="./note.js" ></script>
    
    <!-- Insert this line after script imports -->
    <script>if (window.module) module = window.module;</script>
    

  </body>
</html>