body {
  margin: 0;
  background: #FFF59D;
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
  font-size: 13px;
}

#window {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
}

#window > #title {
  text-align: center;
  height: 23px;
  line-height: 23px;
  background: #FFEB3B;
  color: black;
  -webkit-user-select: none;
  -webkit-app-region: drag
}

#window > #title > #toolbar {
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
  flex-direction: row;
  height: 23px;
  align-items: center;
  padding: 0 5px;
}

#window > #body {
  flex-grow: 100;
  overflow: auto;

  display: flex;
  flex-direction: column;
}



#toolbar > .button {
  text-decoration: none;
  color: #000;
  margin: 0 0 0 4px ;
}

#toolbar > .button:hover {
  color: #444;
}

#toolbar > .button:active {
  color: #888;
}




/* PREVIEW MODE */

#note-previewer {
  padding: 20px;
  flex-grow: 200;
  display: flex;
  flex-direction: column;
  padding: 5px 0;
}

p {
  margin: 5px 0 5px 0;
}

.hljs {
  background: transparent;
  padding: 0 10px;
}

pre {
  margin: 0;
}

h2 {
  margin: 5px 0 5px 0;
}

ul { padding: 0 0 0 23px; }

/* EDIT MODE */
#note-editor {
  flex-grow: 200;
  display: flex
}

#note-editor > #textarea {
  display: flex;
  width: 100%;
  box-sizing: border-box;
  background: transparent;
  border: 0;
  padding: 10px;
  font-family: 'Fira Code', 'Fira Mono', monospace;
  font-variant-ligatures: normal;
}

textarea, input, button { outline: none; resize: none; }


